/* 
body{
	background-color: #0D47A1;
}
.header1{
	background-color: yellow;
	height: 10px;
	
	
}
.headerdown{
	background-color: yellow;
	height: 10px;
}

CSSTerm.com Simple CSS menu

br { clear:left }

.menu_simple {
   height:40px;
    background-color:white;
    margin-left: 10px;
    margin-right: 10px;
}

.menu_simple ul {
    margin: 0; padding: 0;
    float: left;
}

.menu_simple ul li {
    display: inline;
}

.menu_simple ul li a {
    float: left; text-decoration: none;
    color: black; 
    padding: 12px 38.98px;
    background-color: white;
    border-style: inset;
    border-color: black;
}
 
.menu_simple ul li a:visited {
    color: black;
}
 
.menu_simple ul li a:hover, .menu_simple ul li .current {
    color: gray;
    background-color: #33D4FF;
}
.content{
	margin-left: 40px;
	margin-top: 70px;
	
}
.content a{
	color: white;
	margin-left: 102px;
}
 */.links{
	
}
.links a{
	color: white;
}
.button1 {
    background-color:yellow;
    border: none;
    color: black;
    padding: 5px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    margin-left:110px;
    cursor: pointer;
}
.button2 {
    background-color:yellow;
    border: none;
    color: black;
    padding: 5px 27px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    margin-left:110px;
    cursor: pointer;
}
